
@import './_base.scss';

.image{
    border-radius: 12px;
}

.theme-item-simple{
    flex-grow: 1;flex-shrink:1;
    display: flex;flex-direction:column;

    align-items: center;
    justify-content: center;

    img{
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: .2133rem;
    }
    .title{
        font-size: 100%;
    }
}

.theme-item-common{
    padding: 0px .32rem;
    background: #fff;
    display:flex;
    align-items: center;
    height: 2.34667rem;
    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    .game-info{
        flex-grow: 1;flex-shrink: 1;
        display: flex;
        img{
            width: 1.6rem;
            height: 1.6rem;
            margin-bottom: .2133rem;
        }

        .info-box{
            flex-grow: 1;flex-shrink: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: .32rem;
            overflow: hidden;
            width: 2.33rem;
            label{
                padding:2px 6px;
                border-radius: 5px;
                color: #fff;
            }

            .middle,.bottom{
                font-size: 20px;
            }
            
            .bottom{
                word-break: keep-all;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    
    .index{
        width: 1.22667rem;
        margin-left: -.32rem;
        text-align: center;
    }
}
.theme-button{
    display: block;
    padding: .13333rem .42667rem;
    border: 1px solid #ff2741;
    color: #ff2741;
    border-radius: 2px;
    font-size: 10px;
    background: #fff;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 20px;border-radius: 4px;
}
.theme-box{
    background: #fff;
    margin-top: .32rem;
    .theme-header{
        width: 100%;
        line-height: 1.17333rem;
        display: flex;justify-content: space-between;
        padding-left: .32rem;
        padding-right: .32rem;
        border-bottom: 1px solid #ddd;
    }

    .theme1-body{
        height: 3.09333rem;
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        

    }





}


// common

.main-box{
    padding-bottom: 1.4rem;
}

p.info-message{
    text-align: center;
    font-size: 20px;
}

//tab-nav

.tab-nav{
    padding: 0px 1.04rem;
    display:flex;justify-content: space-between;
    background: #fff;
    .item{
        width: 3.2rem;
        line-height: 1.1rem;
        text-align: center;
        border-bottom: 8px solid transparent;
        font-size: 28px;
        &.active{
            color: $base-color;
            border-bottom: 8px solid $base-color;
        }
    }
    
}

// loading


@keyframes loading-left{
    
    to{
        transform: translateX(70px);
    }
    
}
@keyframes loading-right{
    
    to{
        transform: translateX(-70px);
    }
    
}


.loading-box{
    display: flex;
    justify-content: center;
    
    .loading-circle{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 20px;
        
        
        &.left{
            background: #007AFF;
            animation: loading-left 0.5s linear 0s alternate infinite;
            -webkit-animation: loading-left 0.5s linear 0s alternate infinite;
        }
        &.right{
            background:red;
            animation: loading-right 0.5s linear 0s alternate infinite;
            -webkit-animation: loading-right 0.5s linear 0s alternate infinite;
        }
    }
}



// form

.form-input-item{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 1.28rem;
    background-color: #fff;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: .32rem;
    padding-right: .32rem;
    
    
    label{
        width: 1.86667rem;
        font-size: 28px;
    }
    
    input{
        flex-grow: 1;
        border: none;outline: none;
    }
}

.form-input-item:not(:first-child) {
    border-top: 1px solid #ddd;
}

.btn, .btnBox {
    text-align: center;
}

.btnBox {
    margin-top: .64rem;
}

.btn {
    width: 8.29333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    color: #fff;
    border-radius: 10px;
    background-color: #07b3ef;
    font-size: 32px;
    border: none;outline: none;
    
    transition: all 0.3s;
    &.disabled{
        background-color: #ddd;
    }
}
.btn.huge {
    width: 8.29333rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    font-size: 32px;
}



//userinfo

.personal-info{
    background-image: url(/user_background.jpg);
    height: 5.06667rem;
    color: #fff;
    background-size: cover;
    overflow: hidden;
    
    p{
        text-align: right;
        font-size: 44px;
        margin: 0.1rem 0px;
        padding-right: .3rem;
    }
    img{
        display: block;
        margin: 0 auto;
        width: 1.70667rem;
        height: 1.70667rem;
        border-radius: 100%;
    }
    h5{
        display: block;
        text-align: center;
        font-size: 30px;
        margin-top: .32rem;
    }
    
}
